/* Example CSS to style the active link */
.active {
  font-weight: bold;
  color: blue;
  justify-content: center;
}

/* NavbarComponent.css */
.navbar {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items horizontally */
}

/* Other CSS styles... */
